.titulo {
  color: var(--blue);
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.tabela {
  text-align: center;
  margin: 0 auto;
  background-color: var(#eee);
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

  &__cabecalho {
    color: var(--blue);

    &__conteudo {
      padding: 5px;

    }
  }

  &__linha {
    &:nth-child(even){
      background-color: #eee;
    }
    &:last-child {
      .tabela__conteudo {
        border-bottom: none;
      }
    }
  }

  &__conteudo {
    color: var(--blue);
    padding: 10px;
  }
}

.empty {
  color: var(--blue);
  padding: 10px;
  font-weight: 600;
}
